*.local
.DS_Store
.eslintcache
.next
.pnpm-debug.log*
bench
cache
coverage
dist
node_modules
tsconfig.tsbuildinfo

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# @wagmi/cli
generated.ts

# proxy packages
abi
chains
contract
ens
public
test
utils
wallet
window