[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "test/invokers"]
	path = test/invokers
	url = https://github.com/anton-rs/3074-invokers.git
