_cjs
_esm
_types
*.local
.DS_Store
.attest
.eslintcache
.next
bench
cache
coverage
node_modules
tsconfig*.tsbuildinfo
wagmi
src/node/trustedSetups_esm.ts
**/trusted-setups/**/*.txt
.idea

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.envrc

# tests
generated.ts
vectors/**/*.json

# docs
site/dist
.vercel
vocs.config.tsx.timestamp*
