[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = git@github.com:foundry-rs/forge-std.git
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = git@github.com:Vectorized/solady.git
[submodule "contracts/lib/solady-dc09481"]
	path = contracts/lib/solady-dc09481
	url = git@github.com:Vectorized/solady.git
