name: Deploy Docs

on:
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: macos-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Build package
        run: pnpm build

      - name: Deploy
        run: npx vercel deploy . --prod --yes --token=${{ secrets.VERCEL_TOKEN }}
        working-directory: ./site
