name: Deploy Docs

on:
  push:
    branches: [main]
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Cache Vocs
        uses: actions/cache@v4
        with:
          path: site/.cache
          key: vocs-${{ hashFiles('site/**/*.md', 'site/**/*.mdx', 'site/**/*.tsx') }}
          restore-keys: |
            vocs-

      - name: Build package
        run: pnpm build

      - name: Build docs
        run: pnpm docs:build

      - name: Deploy
        uses: amondnet/vercel-action@v41.1.4
        with:
          scope: wevm
          vercel-args: --prod
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          working-directory: ./site/dist
