name: Prepublish

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          submodules: 'recursive'

      - name: Install dependencies
        uses: ./.github/actions/install-dependencies

      - name: Prepublish
        run: |
          cd src && pnpm version prerelease --preid $(git rev-parse --short=7 HEAD) && cd ..
          pnpm changeset:prepublish
          pnpx pkg-pr-new publish --pnpm --compact './src'